<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

     <bean id="ConsoleIO" class="ohtu.io.ConsoleIO">
     </bean>
     
     <bean id="userdao" class="ohtu.data_access.InMemoryUserDao">
     </bean>
     
     <bean id="auth" class="ohtu.services.AuthenticationService">
         <constructor-arg ref="userdao" />
     </bean>
     
     <bean id="App" class="ohtu.App">
         <constructor-arg ref="ConsoleIO" />
         <constructor-arg ref="auth" />
     </bean>

 </beans>
